/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */

.header_button {
  background-color: #2D547A;
  font-family: Bitter-Bold;
  font-size: 24px;
  border-radius: 0px;
}
/*header {
  background-color: white;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 150px;
  box-shadow: 0 1px 2px grey;
}*/
header li{
  display: inline-block;
}
/*#spaniel-hero {
  background: url('images/homepage_hero.jpg') no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.hero {
  background: url('images/homepage_hero.jpg') no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Lora-Italic;
}
.sign_up {

}
.service-process {
  background-color: #DFD3B7;
  text-align: center;
}
.service-process h3 {
  color: #000;
  font-family: Bitter-Bold;
  font-size: 72px;
}
.service-process h5 {
  color: #A03037;
  font-family: Bitter-Bold;
  font-size: 36px;
}
.service-process p {
  color: #000;
  font-family: Lora-Italic;
  font-size: 20px;
  font-style: italic;
}
.testimonials {
  text-align: center;
  color: #000;
  font-family: Lora-Regular;
  font-size: 20px;
}
/*.column{
  display: inline-block;
  width: 20%;
  margin: 20px;
  text-align: left;

}*/
.column img{
  width:  200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  border-radius: 50%;
  display: inline-block;
}
